@model Employee
@{
    string title = ViewBag.Action + " Employee";
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <table>
        <tr>
            <td><label asp-for="EmployeeID">Employee ID: </label></td>
            <td><input asp-for="EmployeeID" readonly /></td>
        </tr>
        <tr>
            <td><label asp-for="FirstName">First Name: </label></td>
            <td><input asp-for="FirstName" /></td>
        </tr>
        <tr>
            <td><label asp-for="LastName">Last Name: </label></td>
            <td><input asp-for="LastName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Position">Position: </label></td>
            <td><input asp-for="Position" /></td>
        </tr>
        <tr>
            <td><button type="submit">Save</button></td>
            <td>
                <a asp-controller="Employee"
                   asp-action="EmployeeList">Cancel</a>
            </td>
        </tr>
    </table>
</form>
