@model Inventory
@{
    ViewData["Title"] = "Delete Item";
}
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div id="header">
        <h2>Confirm Deletion</h2>
    </div>
    <div id="content">
        <h3>Are you sure you would like to delete @Model.ItemName (ID: @Model.ItemID) from the database?</h3>
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="ItemID" />

            <button type="submit">Confirm</button>
            <a asp-controller="Inventory" asp-action="Inventory">Cancel</a>
        </form>
    </div>
</body>
