@model Customer
@{
    ViewBag.Title = "Delete Customer";
}
<h2>Confirm Deletion</h2>
<h3>Are you sure you would like to delete @Model.FirstName @Model.LastName (ID: @Model.CustomerID) from the table?</h3>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerID" />  
    <button type="submit">Confirm</button>
    <a asp-controller="Customer" asp-action="CustomerList">Cancel</a>
</form>